@charset "UTF-8";

:root {
    --gradiente1: #F56893;
    --gradiente2: #DA4AAA;
    --gradiente3: #C43BB4;

    --fontetitulo: "Paytone One", Arial, sans-serif;
    --fontetexto: "Rubik", Arial, sans-serif;
}

@media screen and (max-width: 576px) {
    article {
        display: none;
        background-color: transparent;
        width: 350px;
        height: 450px;
        border-radius: 0px;
        box-shadow: none;
        
    }

    aside.tela-pequena {
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.479);
        width: 350px;
        height: 450px;
    }

    aside > p {
        margin-bottom: 0px;
    }

    aside.tela-pequena h1 {
        margin-top: 30px;
    }

    input {
        width: 200px;
    }
    
    span {
        position: absolute;
        color: rgb(158, 158, 158);
        top: 320px;
        left: 20px;
        cursor: pointer;
    }

    span > p {
        left: -15px;
        top: 23px;
        position: absolute;
        font-size: 10px;
    }

    span:hover {
        transform: translate(0px, 3px);
        transition: transform 0.5s ease;
    }

    #margem {
        
        display: none;
        position: absolute;
        top: 350px;
        width: 350px;
        height: 100px;
        background-color: white;
        border-radius: 0px 0px 10px 10px;
        transition: display 1s ease;
    }

    #margem > p {
        margin-top: 10px;
        text-align: center;
        color: #7c7ce6;
        font-family: var(--fontetitulo);
    }

    #margem > p > a {
        color: white;
        padding: 5px 10px;
        text-decoration: none;
        font-size: 1.3em;
        border-radius: 20px;
        background-color: #7c7ce6;
    }

    #margem > p > a::before {
        content: none;
    }

    section {
        display: none;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {

    article {
        width: 550px;
        height: 500px;
    }

    section {
        width: 250px;
        height: 500px;
    }

    section h1 {
        font-size: 30px;
        margin-top: 50px;
        
    }

    section p.destaque {
        font-size: 28px;
        margin-top: 50px;
    }

    aside {
        width: 300px;
        left: 250px;
        height: 500px;
    }

    input {
        width: 100px;
        
    }

}

@media screen and (min-width: 768px) and (max-width: 1000px) {

    
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {

    
} 

