@charset "UTF-8";

@media screen and (max-width: 576px) {
    article {
        display: none;
        background-color: transparent;
        width: 350px;
        height: 450px;
        border-radius: 0px;
        box-shadow: none;
        
    }

    aside#tela-pequena {
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.479);
        width: 350px;
        height: 450px;
    }

    aside#tela-pequena h1 {
        margin-top: 30px;
    }

    input {
        width: 200px;
    }
    
    span {
        color: gray;
    }

    section {
        display: none;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {

    /*
    section {
        width: 200px;
        height: 450px;
    }

    section h1 {
        font-size: 30px;
        margin-top: 50px;
        
    }

    p.espaço {
        display: none;
    }

    section p.destaque {
        font-size: 28px;
        margin-top: 50px;
    }
    */

}

@media screen and (min-width: 768px) and (max-width: 1000px) {

    
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {

    
} 

