@charset "UTF-8";

@media screen and (max-width: 576px) {
    article {
        width: 500px;
        height: 450px;
    }

    aside {
        width: 280px;
        height: 450px;
        left: 220px;
        
    }

    aside h1 {
        margin-top: 30px;
    }

    input {
        width: 200px;
    }

    section {
        width: 200px;
        height: 450px;
    }

    section h1 {
        font-size: 30px;
        margin-top: 50px;
        
    }

    p.espaço {
        display: none;
    }

    section p.destaque {
        font-size: 28px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {


}

@media screen and (min-width: 768px) and (max-width: 1000px) {

    
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {

    
} 

